body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(48deg, green, red, yellow);
    filter: blur(20);
}

.container {
    max-width: 600px;
    width: 60%;
    box-shadow: 0 0 4px 0 gray;
    line-height: 2;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}